html {
    background-color: paleturquoise;
}

body {
    text-align: center;
}

header {
    position: fixed;
}

nav {
    margin-top: -100px;
}

li {
    float: left;
    list-style-type: none;
}

a {
    display: block;
    padding: 10px;
    color: blue
}

a:visited {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: #b500ff;
    transition-duration: 0.3s;
}

h1 {
    color: palevioletred;
    text-decoration: underline;
}

p {
    text-align: center;
}

table {
    overflow-x: auto;
    display: block;
    border-collapse: collapse;
    min-width: 270px;
    max-width: 370px;
}

table {
    border-radius: 7px;
    margin: auto;
}

table, td, tr {
    border: 2px solid;
    width: 50%;
    color: blueviolet;
}

tbody > tr {
    white-space: nowrap;
}

tbody > tr:hover {
    transition-duration: 0.2s;
    background-color: #e3a9e1;
}

.idP {
    width: 15px;
}

.author {
    width: 50px;
}

.title {
    width: 200px;
}

.actions {
    width: 50px;
}

.actions > a {
    padding: 3px;
}

.photo_title {
    text-decoration: underline;
}

img {
    max-width: 500px;
}